{% extends "staff_app/staff_index.html" %}
{% load static %}

{% block title %}
All_appointment
{% endblock title %}

{% block content %}
<div class="flex gap-2 m-2">
  <div class="w-1/6 p-2">
    <div class="flex flex-col gap-2">
      <a href="{% url 'staff_profile' %}" class="{% if request.resolver_match.url_name == 'staff_profile' %}
            bg-gray-400
          {% else %}
            bg-blue-500 hover:bg-blue-700
          {% endif %}
          text-white font-bold px-4 rounded-2xl w-full h-12 flex items-center justify-center">
        ADD Appointment
      </a>

      <a href="{% url 'staff_prescription' %}" class="{% if request.resolver_match.url_name == 'staff_prescription' %}
            bg-gray-400
          {% else %}
            bg-blue-500 hover:bg-blue-700
          {% endif %}
          text-white font-bold px-4 rounded-2xl w-full h-12 flex items-center justify-center">
        Prescription
      </a>

      <a href="{% url 'staff_all_appointment' %}" class="{% if request.resolver_match.url_name == 'staff_all_appointment' %}
            bg-gray-400
          {% else %}
            bg-blue-500 hover:bg-blue-700
          {% endif %}
          text-white font-bold px-4 rounded-2xl w-full h-12 flex items-center justify-center">
        ALL Appointment
      </a>
    </div>
  </div>
  <div class="w-5/6 ">
    <div class="min-h-screen rounded-2xl bg-gray-50 shadow-xl">
      <h1 class="text-2xl font-bold mb-6 pt-6 text-center">All Appointments</h1>
      <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-sm">
          <thead class="bg-gray-100">
            <tr>
              <th class="px-2 py-2 border-b">ID</th>
              <th class="px-2 py-2 border-b">Owner</th>
              <th class="px-2 py-2 border-b">Phone</th>
              <th class="px-2 py-2 border-b">Tag</th>
              <th class="px-2 py-2 border-b">Species</th>
              <th class="px-2 py-2 border-b">Breed</th>
              <th class="px-2 py-2 border-b">Complaint</th>
              <th class="px-2 py-2 border-b">Date</th>
              <th colspan="2" class="px-4 py-2 border-b">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for appointment in all_appointment %}
            <tr class="hover:bg-gray-200 border-b">
              <td class="px-2 py-2">{{ appointment.id }}</td>
              <td class="px-2 py-2">{{ appointment.name }}</td>
              <td class="px-2 py-2">{{ appointment.phone }}</td>
              <td class="px-2 py-2">{{ appointment.tag }}</td>
              <td class="px-2 py-2">{{ appointment.species }}</td>
              <td class="px-2 py-2">{{ appointment.breed }}</td>
              <td class="px-2 py-2">{{ appointment.complaint|truncatechars:30 }}</td>
              <td class="px-2 py-2">{{ appointment.application_time|date:"M d, Y" }}</td>
              <td class="px-1 py-2 text-center">
                <a href="{% url 'staff_details' appointment.id %}"
                  class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-1 rounded-full text-sm">
                  Show
                </a>
              </td>
              <td class="px-4 py-2 text-center">
                <a href="{% url 'sample' appointment.id %}"
                  class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-1 rounded-full text-sm">
                  Print
                </a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="7" class="text-center py-4 text-gray-500">
                No appointments found.
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
{% endblock content %}