<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'images/vth_logo.png' %}" rel="icon" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>
        {% block title %}
        Dashboard
        {% endblock title %}
    </title>
</head>

<body class="bg-sky-100 ">
    {% include "staff_app/staff_navbar.html" %}
    <div class="">
        {% block content %}
        <div class="">
            <p class="text-lg text-center font-semibold text-red-700 bg-red-50 border border-red-300 px-6 py-3 rounded">
                🚫 Dashboard is only for staff. Please login using your staff account.
            </p>
            {% include "message.html" %}
            {% include "staff_app/staff_login.html" %}
        </div>
        {% endblock content %}
    </div>
    {% include "staff_app/staff_footer.html" %}

</body>

</html>