{% extends "staff_app/staff_index.html" %}
{% load static %}

{% block title %}
Prescription
{% endblock title %}

{% block content %}
<div class="flex min-h-screen bg-green-400 gap-2 m-2">
  <div class="bg-red-500 w-1/6 p-2 border rounded-2xl">
    <div class="flex flex-col gap-2">
      <a href="{% url 'staff_profile' %}" class="{% if request.resolver_match.url_name == 'staff_profile' %}
            bg-gray-400
          {% else %}
            bg-blue-500 hover:bg-blue-700
          {% endif %}
          text-white font-bold px-4 rounded-2xl w-full h-12 flex items-center justify-center">
        ADD Appointment
      </a>

      <a href="{% url 'staff_prescription' %}" class="{% if request.resolver_match.url_name == 'staff_prescription' %}
            bg-gray-400
          {% else %}
            bg-blue-500 hover:bg-blue-700
          {% endif %}
          text-white font-bold px-4 rounded-2xl w-full h-12 flex items-center justify-center">
        Prescription
      </a>

      <a href="{% url 'staff_all_appointment' %}" class="{% if request.resolver_match.url_name == 'staff_all_appointment' %}
            bg-gray-400
          {% else %}
            bg-blue-500 hover:bg-blue-700
          {% endif %}
          text-white font-bold px-4 rounded-2xl w-full h-12 flex items-center justify-center">
        ALL Appointment
      </a>
    </div>
  </div>
  <div class="bg-orange-900 w-5/6 p-2">
    Demo for future work
  </div>
</div>
{% endblock content %}